[submodule "bundle/fugitive"]
	path = pack/wnodom/start/fugitive
	url = http://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/NERD_tree"]
	path = pack/wnodom/start/NERD_tree
	url = http://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/NERD_commenter"]
	path = pack/wnodom/start/NERD_commenter
	url = https://github.com/scrooloose/nerdcommenter.git
	ignore = dirty
[submodule "bundle/ack"]
	path = pack/wnodom/opt/ack
	url = https://github.com/mileszs/ack.vim.git
	ignore = dirty
[submodule "bundle/bufexplorer"]
	path = pack/wnodom/start/bufexplorer
	url = https://github.com/vim-scripts/bufexplorer.zip.git
	ignore = dirty
[submodule "bundle/taglist"]
	path = pack/wnodom/opt/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
	ignore = dirty
[submodule "bundle/matchit"]
	path = pack/wnodom/start/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
	ignore = dirty
[submodule "bundle/tabular"]
	path = pack/wnodom/start/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule "bundle/unimpaired"]
	path = pack/wnodom/start/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	ignore = dirty
[submodule "bundle/accentuate"]
	path = pack/wnodom/opt/accentuate
	url = https://github.com/wnodom/vim-accentuate.git
	ignore = dirty

[submodule "bundle/surround"]
	path = pack/wnodom/start/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "bundle/jshint"]
	path = pack/wnodom/opt/jshint
	url = git://github.com/walm/jshint.vim.git
	ignore = dirty
[submodule "bundle/less"]
	path = pack/wnodom/opt/less
	url = https://github.com/groenewege/vim-less
	ignore = dirty
[submodule "bundle/typescript-vim"]
	path = pack/wnodom/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
	ignore = dirty
[submodule "bundle/vimproc.vim"]
	path = pack/wnodom/start/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
	ignore = dirty
[submodule "bundle/vim-javascript"]
	path = pack/wnodom/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
	ignore = dirty
[submodule "pack/wnodom/start/vim-css-color"]
	path = pack/wnodom/start/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "/Users/bodom/.vim/pack/wnodom/start/vim-devicons"]
	path = /Users/bodom/.vim/pack/wnodom/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
